PORT=8000
NODE_ENV=development
CORS_ORIGIN=http://localhost:4200 # Separate the URLs with commas.
APP_URL=http://localhost:4200 # must be unique

# DATABESE POSTGRES
DB_HOST=
DB_NAME=db_taskero
DB_USERNAME=
DB_PASSWORD=
DB_PORT=5432

# JWT
JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_CONFIRM_ACCOUNT=
JWT_EXPIRES_IN=10m
JWT_REFRESH_EXPIRES_IN=30m

# REDIS
REDIS_HOST=
REDIS_PORT=6379

# SMTP
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=