PORT=8000
NODE_ENV=development
CORS_ORIGIN=http://localhost:4200

# DATABESE POSTGRES
DB_HOST=
DB_NAME=db_taskero
DB_USERNAME=
DB_PASSWORD=
DB_PORT=5432

# JWT
JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_CONFIRM_ACCOUNT=
JWT_EXPIRES_IN=10m
JWT_REFRESH_EXPIRES_IN=30m

# REDIS
REDIS_HOST=
REDIS_PORT=6379

# MSTP
MSTP_HOST=
MSTP_USER=
MSTP_PASSWORD=
MSTP_PORT=